<div class="container">
    <h1 class="text-center">My Requests</h1>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">BandName</th>
            <th scope="col">Date</th>
            <th scope="col">Place</th>
            <th scope="col">hours</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let req of listCustomerRequests">

            <td>{{req.band.name}}</td>
            <td>{{req.date}}</td>
            <td>{{req.city}}</td>
            <td>{{req.hours}}</td>
            <td><h3>{{req.status}}</h3></td>
        </tr>
    </tbody>
</table>
</div>
