<div class="container" >
    <h1 class="text-center" >List Of Bands</h1>
</div>
<div class="container">
    <div class="container mt-4"></div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Rock</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Name : {{bands.name}} </li>
        <li class="list-group-item">Member : {{bands.member}} </li>
        <li class="list-group-item">Charge : {{bands.charge}} </li>
    </ul>
    <div class="card-body">
        <a routerLink="/send-req" routerLinkActive="active-link" class="card-link">Band details</a>
    </div>
</div>
</div>
