<br><br><br>
<div class="container">
<div class="table-responsive">
    <table class="table table-sm table-md table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Hours</th>
            <th scope="col">Venue</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let req of listCustomers">
            <td>{{req.customer.name}}</td>
            <td>{{req.date}}</td>
            <td>{{req.hours}}</td>
            <td>{{req.city}}</td>
            <td><a  class="btn btn-success"  (click) = "approve(req.id)">Approve</a>
              &nbsp;<a  class="btn btn-danger"    (click)="reject(req.id)">Reject</a></td>
          </tr>
         
    </table>
</div>
</div>